.header {
    width: 100%;
    background: $header_bg;

    .container {
        height: $header_height;
        @include flex($jc: space-between);
        #search {
            width: 250px;
            height: 30px;
            font-size: 14px;
            padding: 4px;
        }
    }

    &__logo {
        display: inline-block;
        height: $logo_height;
        margin-top: ($header-height - $logo_height) / 2;
    }
}